<header>
  <div class = "navbar">
    <div class = "navbar__page-title">
        <h3 contenteditable="true">The Journal</h3>
    </div>
    <nav class="navbar__nav-buttons">
        <div class="navbar__home-button">
            <a routerLink="home" class="navbar__nav-button navbar__btn navbar__btn-info">HOME</a>
        </div>
        <div class = "navbar__to-do-list-button">
            <a routerLink="to-do-list" class="navbar__nav-button navbar__btn navbar__btn-info">TO DO LIST</a>
        </div>
        <div class = "navbar__profile-button">
            <a routerLink="profile" class="navbar__nav-button navbar__btn navbar__btn-info">MY PROFILE</a>
        </div>
    </nav>
  </div>
</header>
